@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela.woff2") format("woff2");
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Regular.woff2") format("woff2"),
    url("/fonts/GT-America-Standard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Medium.woff2") format("woff2"),
    url("/fonts/GT-America-Standard-Medium.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Bold.woff2") format("woff2"),
    url("/fonts/GT-America-Standard-Bold.woff") format("woff");
  font-weight: 700;
}
body {
  color: #fff;
  font-size: 18px;
  background-color: #0e0e0e;
  line-height: 30px;
}

#__next {
  @apply min-h-screen flex flex-col;
}

.font-gt {
  font-family: "GT-America", sans-serif;
}
.font-secondary {
  font-family: "Canela", serif;
}
p:not(:last-of-type) {
  margin-bottom: 1.5em;
}
@media (min-width: 1200px) {
  .container {
    @apply max-w-[1440px] mx-auto px-[15px];
  }
}
